// Fonts
// @import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap";

// Others
.custom-center {
    min-height: 80%;
    min-height: 80vh;
    display: flex;
    align-items: center;
}
